@using GadgetHub.Domain.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model)
{
    <div>
        <h3> @p.Name</h3>
        @p.Description
        <h4>@p.Price.ToString("c")</h4>
        <h4>Category: @p.category</h4>
    </div>
    <p>-----------------------</p>
}


